html{
    font-size: 100%;
}

#container{
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
        "header header"
        "technology technology"
        "pricing pricing"
        "where where"
        "about about"
        "contact contact";
}

#header{
    grid-area: header;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40px auto;
    grid-template-areas: 
    "navbar"
    "headercontent";
    background-image: url("images/header.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#navbar{
    grid-area: navbar;
    width: 90%;
    margin: 0.9375rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:    
        "logo nav";
}

#logo{
    grid-area: logo;
}

#logo h1{
    font-size: 1.125rem;
    color: white;
    font-weight: 500;
    display: inline-block;
}

#logo h1 a{
    text-decoration: none;
    color: inherit;
}

#nav{
    grid-area: nav;
}

#nav ul{
    text-align: right;
}

#nav ul li{
    display: inline-block;
    margin-left: 1.875rem;
}

#nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    text-transform: capitalize;
}

#headercontent{
    grid-area: headercontent;
    text-align: center;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#headercontent h1{
    color: white;
    font-size: 6.25rem;
    font-weight: 200;
    display: block;
}

#headercontent button{
    font-family: 'Montserrat', sans-serif;
    border: none;
    background-color: white;
    font-size: 1rem;
    padding: 0.5rem 1.8rem;
    border-radius: 1.875rem;
    display: block;
}

#headercontent button a{
    text-decoration: none;
    color: black;
}

svg{
    height: 3.4375rem;
    width: 3.6875rem;
    position: absolute;
    bottom: 0.3125rem;
}

#technology{
    grid-area: technology;
    height: 100vh;
    background-color: black;
}

#pricing{
    grid-area: pricing;
    height: 100vh;
}

#where{
    grid-area: where;
    height: 100vh;
    background-color: black;
}

#about{
    grid-area: about;
    height: 100vh;
}

#contact{
    grid-area: contact;
    height: 100vh;
    background-color: black;
}