@media screen and (max-width: 430px) {
    html{
        scroll-snap-type: none;
    }
    
    body{
        overflow: invisible;
    }
    
    #container{
        font-family: 'Montserrat', sans-serif;
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: 
            "header"
            "products"
            "technology"
            "pricing"
            "where"
            "about"
            "contact"
            "copyright";  
    }
    
    #header{
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: 
        "navbar"
        "headercontent";
        background-image: none;
        background-color: black;
        height: auto;
    }
    
    #navbar{
        width: 100%;
        grid-template-columns: 100%;
        grid-template-areas:    
            "logo"
            "nav";
    }

    .sticky {
        position: relative;
        width: 100%;
        padding: 0rem;
      }
    
    #logo img{
        margin: 0 auto;
    }
    
    #logo img{
        display: block;
        margin-bottom: 1rem;
    }
    
    #nav ul{
        text-align: center;
    }
    
    #nav ul li{
        display: block;
        margin-left: 0rem;
        margin-bottom: 0.5rem;
    }
    
    #headercontent{
        background-image: url("/assets/images/loop.gif");
        background-position: bottom center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 17.373125rem;
    }

    #headercontent h1{
        font-size: 3rem;
    }

    #headercontent h2{
        font-size: 1.3rem;
    }
    
    svg{
        display: none;
    }
    
    img{
        display: block;
    }

    #products{
        grid-template-columns: 100%;
        grid-template-areas: 
            "one"
            "oneinstall";
        grid-gap: 0rem;    
        height: auto;
        padding: 0rem 0rem;
    }
    
    #one, #oneinstall{
        background-color: white;
    }
    
    #one h2, #oneinstall h2{
        color: black;
    }
    
    #one p, #oneinstall p{
        color: black;
    }
    
    #one img, #oneinstall img{
        width: 100%;
    }
    
    #one li, #oneinstall li{
        list-style-type: "⚡️";
        margin-left: 1rem;
        color: black;
    }
    
    #one ul li, #oneinstall ul li{
        color: black;
    }
    
    b{
        color: inherit;
    }
    
    #oneinstall{
        grid-area: oneinstall;
    }
    
    #one button, #oneinstall button{
        width: 100%;
        background-color: black;
    }

    #one button a, #oneinstall button a{
        color: white;
    }
    
    #technology{
        height: auto;
        grid-template-columns: 100%;
        grid-template-areas: 
            "techtext"
            "images";
        padding: 0rem 0rem; 
        text-align: center;
        padding: 3rem;            
    }

    #technology img, #pricing img{
        width: 100%;
        height: auto;
    }
    
    #pricing{
        height: auto;
        grid-template-columns: 100%;
        grid-template-areas: 
            "pricetext"
            "graphic";
        padding: 0rem 0rem;
        padding: 3rem;
        text-align: center;       
    }
    
    #where{
        height: auto;
        grid-template-columns: 100%;
        grid-template-areas: 
            "map"
            "online";
        grid-gap: 3rem;    
        padding: 0rem 0rem;
        text-align: center;     
    }
    
    #map{
        padding-top: 2rem;
    }

    iframe{
        width: 100vw;
        height: 50vh;
    }
    
    #online{
        padding-bottom: 2rem;
    }
    
    #online button{
        margin-bottom: 0rem;
        margin: 1.25rem auto;
    }
    
    #online button a{
        text-decoration: none;
        color: black;
    }
    
    #about{
        height: auto;
        grid-template-columns: 100%;
        grid-template-areas:
            "seppe"
            "junior" 
            "indigo" 
            "senne";
        padding: 0rem 0rem;    
        padding: 3rem; 
        text-align: center; 
    }
    
    #contact{
        height: auto;
        grid-template-columns: 100%;
        grid-template-areas: 
        "info"
        "form";
        padding: 0rem 0rem; 
        padding: 3rem;
    }
    
    #form{
        grid-area: form;
        width: 90%;
    }
    
    input[type=text]{
        width: 15.675rem;
        margin: 1.8125rem auto;
    }

    input[type=email]{
        width: 15.675rem;
        margin: 1.8125rem auto;
    }
    
    textarea{
        width: 14.675rem;
        margin: 1.8125rem auto;
    }

    label{
        padding-left: 0.5rem;
    }
    
    input[type=button], input[type=submit]{
        width: 100%;
        color: black;
        margin: 1.8125rem auto;
    }
}