html{
    font-size: 100%;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

body{
    overflow: visible;
}

#container{
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
        "header header"
        "technology technology"
        "pricing pricing"
        "where where"
        "about about"
        "contact contact"
        "copyright copyright";  
}

#header, #technology, #pricing, #where, #about, #copyright{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

#header{
    grid-area: header;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40px auto;
    grid-template-areas: 
    "navbar"
    "headercontent";
    background-image: url("../images/header.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#navbar{
    grid-area: navbar;
    width: 90%;
    margin: 0.9375rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:    
        "logo nav";
}

#logo{
    grid-area: logo;
}

#logo h1{
    font-size: 1.125rem;
    color: white;
    font-weight: 500;
    display: inline-block;
}

#logo h1 a{
    text-decoration: none;
    color: inherit;
}

#nav{
    grid-area: nav;
}

#nav ul{
    text-align: right;
}

#nav ul li{
    display: inline-block;
    margin-left: 1.875rem;
}

#nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    text-transform: capitalize;
}

#headercontent{
    grid-area: headercontent;
    text-align: center;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#headercontent h1{
    color: white;
    font-size: 6.25rem;
    font-weight: 200;
    display: block;
}

#headercontent button{
    font-family: 'Montserrat', sans-serif;
    border: none;
    background-color: white;
    font-size: 1rem;
    padding: 0.5rem 1.8rem;
    border-radius: 1.875rem;
    display: block;
}

#headercontent button a{
    text-decoration: none;
    color: black;
}

svg{
    height: 3.4375rem;
    width: 3.6875rem;
    position: absolute;
    bottom: 0.3125rem;
}

.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}

.arrows path {
	stroke: white;
	fill: transparent;
	stroke-width: 1.5px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s;
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s;
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s;
}

img{
    display: block;
}

#technology{
    grid-area: technology;
    height: 100vh;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
        "images techtext";
    grid-gap: 3rem;    
    align-items: center;
    justify-items: center;
    padding: 0rem 15.6875rem;             
}

#techtext p{
    color: white;
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 2rem;
}

#techtext h2{
    color: white;
    font-size: 1.5rem;
    text-transform: capitalize;
    margin: 0.75rem 0rem;
    font-weight: 200;
}

#images{
    grid-area: images;
}

#techtext{
    grid-area: techtext;
}

#pricing{
    grid-area: pricing;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
        "pricetext graphic";
    grid-gap: 3rem;  
    align-items: center;
    justify-items: center;
    padding: 0rem 15.6875rem;       
}

#pricetext{
    grid-area: pricetext;
}

#pricetext h2{
    color: black;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 200;
}

#pricetext p{
    color: black;
    font-size: 1rem;
    font-weight: 200;
    margin: 0.75rem 0rem;
}

#graphic{
    grid-area: graphic;
}

#where{
    grid-area: where;
    height: 100vh;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
        "map online";
    grid-gap: 3rem;    
    align-items: center;
    justify-items: center;
    padding: 0rem 15.6875rem;     
}

#map{
    grid-area: map;
}

#map, #online h2{
    color: white;
    font-size: 1.5rem;
    text-transform: capitalize;
    margin: 0.75rem 0rem;
    font-weight: 200;
}

#online p{
    color: white;
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 3.5rem;
}

#online{
    grid-area: online;
}

#online button{
    font-family: 'Montserrat', sans-serif;
    border: none;
    background-color: white;
    font-size: 1rem;
    width: 10.625rem;
    height: 2.5rem;
    padding: 0.5rem 1.8rem;
    border-radius: 1.875rem;
    margin-bottom: 2.5rem;
    display: block;
}

#online button a{
    text-decoration: none;
    color: black;
}

#about{
    grid-area: about;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas:
        "seppe junior indigo senne";
    align-items: center;
    justify-items: center;
    padding: 0rem 15.6875rem;      
}

#seppe p, #junior p, #indigo p, #senne p{
    margin-top: 1rem;
    text-align: center;
    text-transform: capitalize;
    font-weight: 200;
}

#junior, #indigo, #senne{
    margin-top: 4rem;
}

#seppe{
    grid-area: seppe;
}

#seppe h2{
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
    text-transform: capitalize;
    font-weight: 200;
}

#junior{
    grid-area: junior;
}

#indigo{
    grid-area: indigo;
}

#senne{
    grid-area: senne;
}

#about span{
    display: inline-block;
}

#contact{
    grid-area: contact;
    height: 100vh;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "info form";
    grid-gap: 3rem;
    align-items: center;
    justify-items: center;
    padding: 0rem 15.6875rem; 
}

#info{
    grid-area: info;
    height: 35.449375rem;
}

#info h2{
    color: white;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 200;
    margin-bottom: 3.375rem;
}

#info img{
    display: inline-block;
    margin-right: 1.04875rem;
    width: 1.5rem;
    height: 1.5rem;
}

#info p{
    color: white;
    font-size: 1rem;
    font-weight: 200;
    margin: 0.75rem 0rem;
    display: inline-block;
}

#info span{
    display: block;
    margin-bottom: 7.0875rem;

}

#info a{
    color: inherit;
    text-decoration: none;
}

#form{
    grid-area: form;
}

input[type=text]{
    display: block;
    border: none;
    width: 25.1025rem;
    height: 3rem;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    border-radius: 1.875rem;
    font-size: 1rem;
    line-height: 3rem;
    padding-left: 1.29rem;
    margin-bottom: 1.8125rem;
    font-weight: 200;
}

input[type=email]{
    display: block;
    border: none;
    width: 25.1025rem;
    height: 3rem;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    border-radius: 1.875rem;
    font-size: 1rem;
    line-height: 3rem;
    padding-left: 1.29rem;
    margin-bottom: 1.8125rem;
    font-weight: 200;
}

textarea{
    display: block;
    border: none;
    width: 24rem;
    height: 11rem;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    border-radius: 0.9375rem;
    font-size: 1rem;
    padding: 0.9125rem 1.29rem;
    margin-bottom: 1.8125rem;
    resize: none;
    font-weight: 200;
}

label{
    display: block;
    color: white;
    font-size: 0.875rem;
    font-weight: 200;
    font-weight: 200;
}

input[type=button], input[type=submit]{
    border: none;
    width: 100%;
    height: 3rem;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    border-radius: 1.875rem;
    font-size: 1rem;
    line-height: 3rem;
    margin-top: 1.8125rem;
    font-weight: 200;
}

#copyright{
    grid-area: copyright;
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 2rem;
    font-weight: 200;
    font-size: 1rem;
}